.movieAddHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #e57373;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px grey;
    /* padding: 10px; */
}